body{
    font-family: Tahoma, Geneva, SansSerif;
    font-size: 30px;
}
#main{
    display: block;
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#join-form{
    position: absolute;     
    top: 60%;
    left: 50%;
}
#main{
    display: block;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    background-image: url(/images/splashscreen.png);
}
#lobby{
    display: none;
    background-image: url(/images/lobbyscreen.png);
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
#game{
    display: none;
    background-color: transparent;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
#join-form form{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#formtabel{
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#name{
    height: 30px;
    font-size: 24px;
    font-family: Tahoma, Geneva, SansSerif;
    border-radius: 10px;
}
#color{
    background-color: transparent;
    width: 70px;
    height: 50px;
    border: none;
}
#submit{
    width: 40%;
    
}
#submit:hover{
    width: 40%;
    
    opacity: 0.75;
}
ul {
  list-style-type: none;
}

#linotready{
    color: red;
}

#liready{
    color: green;
}
#trump{
    display: none;
}
#chatbox{
    resize: none;
    width: 30%;
    height: 50%;
    color: black;
    background-color: white;
    margin-left: 60%;
    margin-top: 22%;
    opacity: 0.8;
    overflow: auto;
    font-size: 20px;
}
#messagebox{
    margin-left: 60%;
    opacity: 0.8;
    width: 30%;
}
#ul1{
    background-color: white;
    opacity: 0.75;
    position: absolute;
    left: 30%;
    top: 30%;
    padding: 20px;
    min-width: 260px;
    min-height: 400px
}
#ul1 li{
    margin-bottom: 5px;
}
<<<<<<< HEAD
#postgame{
    display: none;
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
=======
#readybtn{
    width: 10%;
    position: inherit;
}
#readybtn:hover{
    width: 10%;
    opacity: 0.75;
}
>>>>>>> origin/Development
